# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo


# Stores VSCode versions used for testing VSCode extensions
.vscode-test

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# Secrets
Secrets.ts
